h1 {
    text-align: center;
    font-size: 38px;
    color: #514042;
    font-family: 'Work Sans', sans-serif;
    margin: 40px 0px;
}

p {
    font-size: 26px;
    margin: 10px 180px;
    text-align: center;
}

ul {
    font-size: 32px;
    margin: 50px 180px;
    text-align: center;
    font-style: italic;
    color: #e2b8be;
    list-style-type: none;
}

.cita {
    background-color: #514042;
    padding: 20px;
    margin: 70px 0px 0px;
}

/* Estilos Navbar y Footer*/
* {
    margin: 0px;
}
body {
    background-color: #EFD3D7;
    font-family: 'Work Sans', sans-serif;
}

nav {
    height: 100px;
}
nav, a {
    color: #514042;
    font-size: 20px;
    text-decoration: none;
}
.logo {
    width: 150px;
    margin-left: 50px;
    top: 10px;
}

.secciones {
    position: absolute;
    right: 50px;
    top: 30px;
}

a {
    padding: 20px 5px;
}

footer {
    background-color: #514042;
}

.logoFooter {
  width: 150px;
  top: 10px;
  position: relative;
  left: 80%;
}

.seccionesFooter a {
    color: #e2b8be;
    font-size: 18px;
}

.seccionesFooter {
  position: relative;
  left: 50px;
  bottom: 30px;
}