ul {
    text-align: center;
    margin: 20px 0px;
}

li {
    background-color: #514042;
    color: #e2b8be;
    padding: 15px 30px;
    font-size: 25px;
    cursor: pointer;
    list-style: none;
    display: inline-block;
}

li:hover {
    background-color: #332627;
    color: #e2b8be;
}

.tituloSeccion {
    background-color: #fff;
    font-size: 26px;
    border-bottom: solid 1px;
    padding: 15px 50px;
}
section {
    background-color: #fff;
    display: flex;
    flex-direction: row;
}

.producto {
    display: block;
    width: 100%;
    margin: 50px 50px;
}

.producto, img {
    width: 100%;
    margin-top: 10px;
}

.nombreProducto {
    text-align: center;
    font-size: 20px;
}

.descripcionProducto {
    text-align: center;
    font-size: 18px;
}

.valorProducto {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.boton {
    background-color: #e2b8be;
    color: #514042;
    padding: 5px 15px;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}
.boton:hover {
    background-color: #c09ba1;
}
/* Estilos Navbar y Footer*/
* {
    margin: 0px;
}
body {
    background-color: #EFD3D7;
    font-family: 'Work Sans', sans-serif;
}

nav {
    height: 100px;
}
nav, a {
    color: #514042;
    font-size: 20px;
    text-decoration: none;
}
.logo {
    width: 150px;
    margin-left: 50px;
    top: 10px;
}

.secciones {
    position: absolute;
    right: 50px;
    top: 30px;
}

a {
    padding: 20px 5px;
}

footer {
    background-color: #514042;
}

.logoFooter {
  width: 150px;
  top: 10px;
  position: relative;
  left: 80%;
}

.seccionesFooter a {
    color: #e2b8be;
    font-size: 18px;
}

.seccionesFooter {
  position: relative;
  left: 50px;
  bottom: 30px;
}